amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
boto3==1.35.50
botocore==1.35.90
celery==5.4.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
Django==5.1.7
django-admin-searchable-dropdown==1.2
django-appconf==1.0.6
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-cors-headers==4.4.0
django-environ==0.11.2
django-filter==24.3
django-htmx==1.19.0
django-inline-actions==2.4.0
django-js-asset==3.0.1
django-mptt==0.16.0
django-select2==8.2.1
django-storages==1.14.4
django-tenants==3.7.0
django-timezone-field==7.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dotenv==0.9.9
firebase-admin==6.9.0
drf-nested-routers==0.94.2
et_xmlfile==2.0.0
flower==2.0.1
gunicorn==23.0.0
humanize==4.11.0
idna==3.10
jmespath==1.0.1
kombu==5.4.2
numpy==2.1.1
openpyxl==3.1.5
packaging==24.2
pandas
pillow==10.4.0
reportlab==4.2.5
prometheus_client==0.21.1
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
PyJWT==2.9.0
pypdf==4.3.1
python-barcode==0.15.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2024.2
redis==5.2.1
requests==2.32.3
sentry-sdk[django]>=2.48.0,<3
django-anymail[mailtrap]>=14.0
s3transfer==0.10.4
six==1.17.0
sqlparse==0.5.3
stripe==11.4.1
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.7.0
XlsxWriter==3.2.2
